.index-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    position: absolute;
    top: 30%;
    width: 280px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.display {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    text-align: right;
    font-size: 40px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        top: 20%;
    }
}